// grayscale
$solid-black:#000;
$charcoal: #221f20;
$dark-gray:#404040;
$solid-gray:#878a8b;
$light-gray:#cbd1d2;
$solid-white:#fff;

// text colors
$text-black:$charcoal;
$text-gray:$solid-gray;
$text-white:$solid-white;

// everyman colors
$em-lightgray:#dcdee2;
$em-darkgray:#453f49;
$em-caramel:#bd7256;
$em-latte:#d7b397;
$em-skin:#e2d0c4;
$em-offwhite:#ebe2d7;

//blue -> gray scale
$earth-blue:#98acc3;
$earth-navy: #222d39;
$earth-cyan:#a8c4c3;
$earth-gray:#636c75;
$earth-offwhite:#e9e8e7;
