@import 'variables/colors';
@import 'variables/breakpoints';
@import 'variables/typography';

html {
    font-size: 62.5%;
}

h1,
h2,
h3 {
    font-family: Vietnam-Bold;

}

h1 {
    font-size: $size-h2;
}

h2 {
    font-size: $size-h4;
}

h3 {
    font-size: $size-h5;
}

body {
    font-size: $size-default;
    margin: 0px;
    padding: 0px;
    font-family: $main-font;
    font-weight: $weight-light;

    @media all and (max-width: $screen-md) {

        background-color: $earth-offwhite !important;
    }

}

.container-half {

    width: 90%;
    padding-right: 8px;
    padding-left: 8px;
    margin-right: auto;
    margin-left: auto;

    @media all and (max-width: $screen-md) {
        width: 100%;
        padding: 0px;
    }

}

header {
    border-bottom: 1px solid $em-lightgray;

    .header-phone {
        font-size: $size-default;
        color: $em-caramel;
        font-weight: $weight-bold;

        &:hover,
        &:active {
            text-decoration: none;
            color: $em-darkgray;
        }
    }

}

.section-hero {
    background: url('../images/hero2.jpg') no-repeat center;

    @media all and (max-width: $screen-md) {
        background: url('../images/hero1.jpg') no-repeat center;
    }

    height: 500px;
}

.desktop-show {
    display: flex;

    @media all and (max-width: $screen-md) {
        display: none;
    }
}


.heading-title {
    margin-top: 25px;
    text-align: center;
}

.description {
    text-indent: 0px;
    letter-spacing: 1.5px;
    color: $charcoal;
    text-align: center;
    margin: 25px 0px;

}

.header-p {
    text-align: center;
    color: $em-caramel;
}

.mobile-show {
    padding: 20px;

    display: none;
    text-align: center;
    margin-top: -150px;
    background-color: $em-offwhite;

    @media all and (max-width: $screen-md) {
        display: flex;
        justify-content: center;
        margin-left: 15px;
        margin-right: 15px;
    }
}

.start-explanation {
    background-color: $earth-offwhite;

    padding: 50px;
    line-height: $lh--2;


}

article.explanation {
    margin-top: 25px;
}

.btn {
    font-size: 1.6rem;
    width: 13rem;

    a {
        color: inherit;
    }

    a:hover,
    a:active,
    a:focus {

        text-decoration: none;


    }

}

.btn-latte {
    background-color: $em-latte;
    color: $em-darkgray;

    &:hover {
        background-color: $em-caramel;
        color: $em-lightgray;
    }

}

.next-step {

    padding: 50px;
    line-height: $lh--2;
    background-color: #fff;

    h3.question {
        color: $em-caramel;
        font-size: $size-h6;
        line-height: $lh--2;
    }
}