<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/styles/bootstrap-4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/styles/style.css">
    <script src="../public/scripts/jquery/jquery-3.6.0.min.js"></script>
    <script src="../public/scripts/popper/popper.min.js"></script>

</head>

<body>
    <header class="header">
        <div class="container-fluid bg-light ">
            <nav class="navbar navbar-light justify-content-between py-lg-3 px-lg-5 mx-lg-5">
                <span class="navbar-brand ml-lg-5"><img src="../public/images/logo-150.png" alt="aparto-logo"></span>
                <a class="header-phone mr-lg-5" href="tel:0637069864">0637069864</a>
            </nav>
        </div>
    </header>
    <main>
        <div class="section-hero container-half">
            <div class="mx-5">
                <section class="row desktop-show">
                    <div class="col-4">
                        <div class="heading-title">
                            <h1>Dizajn Projektovanje i Uređenje Enterijera</h1>
                        </div>
                        <div class="description">
                            <span>
                                Tražite dizajnera enterijera? Arhitektu koji će vam preurediti ili potpuno promeniti
                                prostor
                                u
                                skladu sa vašim vizijama i životnim stilom?
                            </span>
                        </div>
                        <p class="header-p">
                            Vaš novi enterijer je samo na korak od vas
                        </p>
                    </div>

                </section>


            </div>
        </div>
        <div class="container">
            <section class="row mobile-show ">
                <div class="mobile-section">

                    <div class="heading-title">
                        <h2>Dizajn Projektovanje i Uređenje Enterijera</h2>
                    </div>
                    <div class="description">
                        <span>
                            Tražite dizajnera enterijera? Arhitektu koji će vam preurediti ili potpuno promeniti
                            prostor
                            u
                            skladu sa vašim vizijama i životnim stilom?
                        </span>
                    </div>
                    <p class="header-p">
                        Vaš novi enterijer je samo na korak od vas
                    </p>
                </div>
            </section>
        </div>
        <section class="start-explanation">
            <div class="container">
                <div class="text-center">
                    <h2>Naša vizija</h2>
                </div>
                <article class="explanation">
                    <p>
                        Dizajn enterijera je proces koji obično započinje
                        nekom vizijom ili idejom koju imate u glavi.
                        Medutim kao i većina, postoje šanse da ni
                        vi niste sigurni u to šta želite, ili vas je možda
                        surfovanje po internetu prenatrpalo sa toliko
                        različitih ideja da više predstavu nemate šta da
                        odaberete i o čemu uopšte da razgovarate sa
                        dizajnerom ili arhitektom.
                    </p>
                </article>
                <article class="explanation">
                    <p>
                        Jedno je sigurno, oko vas se nalaze goli zidovi
                        ili prostor zreo za preuređenje koji Vam već
                        duže vreme ide na živce.
                    </p>
                </article>
                <article class="explanation">
                    <div class="text-center">
                        <h3>Razumemo vas u potpunosti!</h3>
                    </div>
                    <p class="mt-4">
                        Ono što je glavni zadatak dizajnera enterijera ili
                        arhitekte, je da na što bolji i brži način prepozna
                        vaše potrebe i prioritete, i da osnovu toga
                        predloži najbolje rešenje
                    </p>
                </article>
                <article class="explanation">
                    <p>
                        Dakle prvo šta trebate uraditi je da uzmete
                        telefon u ruke i pozovete naš broj.
                    </p>
                    <div class="text-center">
                        <div class="btn btn-latte ">
                            <a href="tel:0637069864">0637069864</a>
                        </div>
                    </div>
                </article>

                <article class="explanation">
                    <p>

                        Nakon inicijalnog razgovara sa jednim od naših
                        arhitekti teret pada sa ramena i već je daleko
                        jasnije kojim putem idemo.
                    </p>
                </article>
            </div>
        </section>
        <section class="next-step">
            <div class="text-center">
                <h2>Šta dalje?</h2>
            </div>
            <article class="explanation">
                <p>
                    Naredni korak je naš dolazak na vaša vrata, gde
                    ćemo analizirati postojeće stanje vašeg
                    stambenog ili poslovnog prostora,
                    zajedno prodiskutovati o svemu, izabrati stil,
                    materijale, nameštaj, boje, i iskoristiti svaki delić
                    vašeg prostora.
                </p>

            </article>
            <article class="explanation">
                <div class="text-center">
                    <blockquote>
                        <h3 class="question"><q>  Da ali gde ću nabaviti sve potrebne elemente
                            tog prostora koje smo definisali? Ko ih uopšte
                            može izraditi, po kom kvalitetu i po kojoj ceni?</q></h3>
                    </blockquote>
                </div>
            </article>
        </section>
    </main>
    <footer></footer>
    <script src="../public/styles/bootstrap-4.3.1/js/bootstrap.min.js"></script>
    <script src="../public/scripts/script.js"></script>
</body>

</html>